# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore Vim swap files
*.swp

# Ignore Vim backup files
*.bak
*.swp
*.swo
*.un~ 

# Ignore Vim's undo files
*.undo

# Ignore Vim's session files
Session.vim

# Ignore any other temporary files (like log files)
*.log

# Ignore last run time
*.last_backup_run
